<div id="<%= dom_id(comment) %>">

          <div class="dialogbox">
              <%= comment.name %>
              <div class="body">
                  <span class="tip tip-right"></span>
                  <div class="message">
                      <span><%= comment.body %></span>
                  </div>
              </div>
          </div>

</div>
